Package: com.bbr.rickroll.mutolaa
Name: mutolaa-rickroll
Version: 1.0.0
Architecture: iphoneos-arm
Description: Replaces Mutolaa audio advertisements with a short Rickroll.
Maintainer: Boboor
Author: Boboor
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
